#search-bar-wrap {
  border-radius: 10px;
  background-color: white;
  height: 30;
  margin: 5px 10px;
  padding-right: 10px;
  /* Grow as large as possible */
  display: flex;
  flex-grow: 9999999;
  align-items: center;
}

#search-bar {
  font-size: 20px;
  padding: 2px 10px;
  width: 400px;
  border: none;
  height: 30;
  /* Grow as large as possible */
  flex-grow: 9999999;
}

#search-bar:focus {
  border: none;
  outline: none;
}

#search-bar-wrap .logo {
  padding-left: 10px;
  display: flex;
}
