body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-grow: 999999999;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  background-color: #222831;
}

.search-row {
  height: 40px;
  display: flex;
}

#tab-row {
  height: 40px;
  display: flex;
}

#search-back {
  transform: scaleX(-1);
}

.button.inactive {
  color: #889;
}

#search-refresh {
  font-weight: bold;
  transform: rotate(.25turn);
}

.button {
  border-right: solid transparent 2px;
  width: 38px;
  height: 40px;
  font-size: 35px;
  text-align: center;
  color: white;
}

.button:hover, .tab.selected {
  background-color: #2D4059;
}

webview {
  display: none;
}

webview.selected {
  display: flex;
  flex-grow: 99999999;
}

#webtorrent-stats {
  background-color: #bbc;
  padding: 5px;
}
